# Gradle
.gradle/
build/

# Keep Gradle Wrapper files
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Compiled Java files
*.class

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
.apt_generated/
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Temporary files
*.tmp
*.log